@model CrmMvcProj.Models.CustomerModel
@{
    ViewData["Title"] = "Customers";
}


<h1>Customers</h1>

<table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
    <tr>
        <th>Όνομα	</th>
        <th>Επώνυμο</th>
        <th>Address </th>
        <th>Email</th>
        <th>Delete</th>
    </tr>
    @{
        //razor syntax
        foreach (var customer in Model.Customers)
        {
        <tr id="cusTable@(customer.Id)">
            <td> @customer.FirstName</td>
            <td> @customer.LastName</td>
            <td> @customer.Address </td>
            <td> @customer.Email</td>
            <td> <a href="#" onclick="deleteCustomer(@customer.Id)"> Delete</a></td>
            <td> <a href="#" onclick="editCustomer(@customer.Id)"> Edit</a></td>
        </tr>
        }
    }
</table>

